@import "../variables";

.navbar {
  border-bottom: 2px solid $ui-lighter;
  background-color: $ui-lightest;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 999;
  top: 0;
  .navbar-group {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-wrap: nowrap;
    list-style: none;
    display: flex;
    a {
      text-decoration: none;
    }
    .navbar-group-item {
      font-size: clamp(0.2rem, 0.2rem + 1vw, 1.4rem);
      letter-spacing: $letter-spacing-mid;
      padding: 0.8rem 0.5rem;
      color: $ui-dark;
      img {
        min-width: 5rem;
        width: 80%;
      }
      .nav-button {
        border: solid 1px $ui-grey;
        padding: 0.3rem 0.8rem;
        border-radius: 10rem;
        box-shadow: none;
      }
      .nav-button-entrar {
        background-color: $ui-lightest;
        color: $ui-darker;
      }
      .nav-button-cadastrar {
        background-color: $ui-grey;
        color: $ui-lightest;
      }
      input#nav-searchbar {
        border: solid 1px $ui-grey;
        padding: 0.1rem 0.3rem;
        border-radius: 2rem;
        min-width: 2rem;
      }
      #nav-searchbar::placeholder {
        color: $ui-darkest;
      }
      #nav-searchbar::placeholder :focus {
        color: $red-ligh;
      }
    }
  }
}
