.navbar {
  width: 100%;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  .list-group {
    height: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    a {
      text-decoration: none;
    }
    .list-group-item {
      padding: 0.4em 0.7em;
      font-size: clamp(0.2rem, 0.2rem + 1vw, 2rem);
      > img {
        height: 100%;
      }
    }
  }
}
