@import "../variables";

// * {border: 1px solid black;}
.modulosBig {
  width: 80%;
  h3 {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    color: $red-ligh;
  }
  .modulosBig-categorias {
    flex-direction: row;
    text-align: center;
    margin: 1rem 0rem;
    display: flex;
    span {
      text-wrap: nowrap;
      font-size: 1.1rem;
    }
  }
  .modulosBig-resultados {
    display: inline-block;
    margin-left: 0.4rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  .modulosBig-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 0rem 0.4rem;
    list-style: none;
    display: grid;
    gap: 1.5rem;
    .modulosBig-items {
      position: relative;
      text-decoration: none;
      .modulosBig-items-img {
        border-radius: 1rem;
      }
      .modulosBig-items-titulo {
        text-align: left;
        margin: 0.2rem 0rem;
        color: $ui-darkest;
        font-size: 1.3rem;
      }
      .modulosBig-items-parceiros {
        display: inline-block;
        margin: 0.2rem 0rem;
        text-align: left;
        color: $red-ligh;
        font-size: 1rem;
      }
      .modulosBig-items-estatisticas {
        display: inline-block;
        margin: 0.2rem 0rem;
        text-align: justify;
        color: $ui-darkest;
        text-wrap: nowrap;
        .modulosBig-items-matriculados {
          img{
            margin-right: 0.2rem;
            width: 1rem;
          }
        }
        .modulosBig-items-duracao {
          img{
            margin-right: 0.2rem;
            margin-left: 0.4rem;
            width: 1rem;
          }
        }
        .modulosBig-items-avaliacao {
          img{
            margin-left: 0.4rem;
            margin-right: 0.2rem;
            width: 1rem;
          }
        }
      }
      .modulosBig-items-objetivogeral {
        box-shadow: inset 0px -40px 15px 0px rgba(255,255,255,1);
        background-color: transparent;
        text-overflow: ellipsis;
        color: $ui-darkest;
        max-height: 4.5rem;
        text-align: left;
        overflow: hidden;
      }
    }
    .modulosBig-verModulo {
      background-color: $ui-lighter;
      border-radius: 3rem;
      color: $ui-light;
      padding: 0rem 0.2rem;
      position: absolute;
      font-size: 1rem;
      width: 7rem;
      bottom: 0;
      right: 0;
    }
  }
  .modulosBig-paginacao {
    width: 7rem;
  }
}
