@import "../variables";

.modulos-lista {
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  width: 80%;
  li {
    box-shadow: -2px 0px 5px 1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: -2px 0px 5px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: -2px 0px 5px 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    border-radius: 2rem;
    padding: 0.8rem;
    margin-top: 1rem;
    background-color: $ui-lighter;
    div {
      justify-content: center;
      flex-direction: row;
      display: flex;
      font-weight: 500;
      align-items: center;
      .modulo-capa {
        img {
          border-radius: 2rem;
          object-fit: cover;
          height: 9rem;
          width: 9rem;
        }
      }
      .modulo-cabecalho {
        letter-spacing: $letter-spacing-mid;
        flex-direction: column;
        text-align: left;
        display: flex;
        min-width: 22rem;
        padding-left: 0.8rem;
        .modulo-titulo {
          font-weight: bold;
          padding: 0.4rem;
        }
        .modulo-parceiros {
          letter-spacing: $letter-spacing-min;
          font-weight: bolder;
          font-size: 0.6rem;
          color: $red-ligh;
          padding: 0.4rem;
        }
      }
      .modulo-matriculados {
        > img {
          width: 1.8rem;
          margin: 0;
        }
        span {
          padding-left: 0.2rem;
          margin: 0;
          width: auto;
        }
      }
      .modulo-duracao {
        > img {
          width: 1.8rem;
          margin: 0;
        }
        span {
            padding-left: 0.2rem;
            margin: 0;
            width: auto;
          }
      }
      .modulo-avaliacao {
        > img {
          border: 2px solid black !important;
        }
      }
      .modulo-verModulo {
        button {
          all: unset;
          background-color: $ui-light;
          padding: 0.2rem 1rem;
          border-radius: 1rem;
          color: $ui-lightest;
          text-wrap: nowrap;
          font-weight: 800;
          cursor: pointer;
        }
      }
    }
  }
}
