@import "../variables";

.parceiros {
  width: 80%;
  .parceiros-cabecalho {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 2rem;
  }
  .parceiros-resultados {
    display: inline-block;
    padding: 1rem 0rem;
    text-align: left;
    color: $ui-dark;
    font-weight: 400;
    width: auto;
  }
  .parceiros-lista {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    margin: 1rem 0rem;
    list-style: none;
    display: grid;
    gap: 1rem;
    .parceiros-item {
      .parceiros-item-imagem {
        height: fit-content;
        padding: 1rem 0rem;
        width: 15rem;
      }
      .parceiros-item-nome {
        border-top: 2px solid $red-ligh;
        padding: 1rem 0rem;
        width: auto;
      }
    }
  }
  .parceiros-page-selector {
    background-color: transparent;
    display: flex;
    width: 8rem;
    align-items: center;
    button {
      margin: 1rem;
      aspect-ratio: 1/1;
      background-color: $ui-light;
      color: $ui-lightest;
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      height: 100%;
      transition: 200ms ease-in-out;
      img {
        filter: invert(360);
      }
      &:hover,
      &:focus-visible {
        background-color: $red-ligh;
      }
    }
  }
}
