@import "../variables";

.parceirosS-section {
  width: 100%;
  .parceirosS-titulo {
      padding: 2rem 0rem;
      padding-top: 0rem;
      font-size: 2rem;
      width: 100%;
    }
    .parceirosS-row {
    background-color: $ui-lighter;
    border-radius: 1rem;
    flex-direction: row;
    display: flex;
    width: 80%;
    .parceirosS-container {
      flex-direction: column;
      padding: 1rem 1rem;
      display: flex;
      .parceirosS-head {
        margin-bottom: 0.5rem;
        width: fit-content;
        font-size: 1.35rem;
        font-weight: 600;
      }
      .parceirosS-texto {
          font-size: 1rem;
          color: $ui-dark;
          width: 90%;
      }
    }
  }
}
