//Typography variables
$letter-spacing-min: 0rem;
$letter-spacing-mid: 0.08rem;
$letter-spacing-max: 0.1rem;

//Color variables
$ui-lightest: #ffffff;
$ui-lighter: #f5f5f7;
$ui-light: #808181;
$ui-grey: #707070;
$ui-dark: #424146;
$ui-darker: #323237;
$ui-darkest: #2e2e40;

$red-ligh: #f7313f;
$red-dark: #d2202c;
