//Typography variables
$letter-spacing-min: 0rem;
$letter-spacing-mid: 0.08rem;
$letter-spacing-max: 0.1rem;

//Default colors
$bw-color-grade-1: #FFFFFF;
$bw-color-grade-2: #F0F0F0;
$bw-color-grade-3: #707070;
$bw-color-grade-4: #606060;
$bw-color-grade-5: #030302;