.main-header {
  color: #2e2e40;
  width: 100%;
  background-color: #ffffff;
  .list-group {
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    .list-group-item {
      padding: 0.4em 0.7em;
      font-size: clamp(0.2rem, 0.2rem + 1vw, 2rem);
    }
  }
}
