@import "../../variables";

.moduloDetalhe {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 100%;
  padding: 0;
  .moduloDetalhe-header {
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 15rem;
    display: flex;
    .moduloDetalhe-header-imgCapa {
      filter: brightness(0.3);
      position: absolute;
      z-index: -10;
      width: 100%;
      right: 0;
      left: 0;
      top: 0;
    }
    .moduloDetalhe-header-tituloWrapper {
      color: $ui-lightest;
      width: 80%;
      .moduloDetalhe-header-tituloWrapper-titulo {
        font-size: clamp(0.1rem, 1.2rem + 1vw, 3rem);
        margin-bottom: 1rem;
        font-weight: 800;
        text-align: left;
        margin: 0 auto;
      }
      .moduloDetalhe-header-tituloWrapper-parceiros {
        font-size: clamp(0.1rem, 0.5rem + 1vw, 2rem);
        display: inline-block;
        text-align: left;
        font-weight: 600;
        margin-left: 0;
        width: 100%;
      }
    }
  }
  .moduloDetalhe-mainContent {
    background-color: $ui-lightest;
    .moduloDetalhe-mainContent-titulo {
      padding: 2rem 0rem;
      color: $red-ligh;
      font-size: 2rem;
    }
    .moduloDetalhe-mainContent-subtitulo {
      padding-bottom: 2rem;
      color: $ui-darkest;
      font-size: 1.4rem;
      @media only screen and (max-width: 980px) {
        text-align: left;
        padding-left: 2rem;
      }
    }
    .moduloDetalhe-mainContent-texto {
      text-align: justify;
      color: $ui-dark;
      font-size: 1rem;
      margin-bottom: 0.8rem;
      width: 75%;
      @media only screen and (max-width: 980px) {
        width: 95%;
        text-indent: 1.5rem;
      }
    }
    .moduloDetalhe-mainContent-estatisticas {
      margin-bottom: 1rem;
      margin-top: 1rem;
      display: flex;
      width: 80%;
      @media only screen and (max-width: 980px) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 auto;
      }
      .moduloDetalhe-mainContent-estatisticas-item {
        justify-content: center;
        display: flex;
        .moduloDetalhe-mainContent-estatisticas-item-img {
          max-width: 1.5rem;
        }
        .moduloDetalhe-mainContent-estatisticas-item-texto {
          margin-left: 0.3rem;
          font-weight: 600;
        }
      }
    }
    .moduloDetalhe-mainContent-objLista {
      list-style: disc;
      .moduloDetalhe-mainContent-objLista-item {
        color: $ui-dark;
        text-align: left;
        width: 60%;
      }
    }
    .moduloDetalhe-mainContent-recursos {
      p {
        text-align: center;
      }
    }
    .moduloDetalhe-mainContent-creditos {
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      display: grid;
      width: 90%;
      @media only screen and (max-width: 980px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media only screen and (max-width: 700px) {
        grid-template-columns: 1fr;
      }
      .moduloDetalhe-mainContent-creditos-capas {
        max-width: 14rem;
        justify-content: center;
      }
    }
  }
}