@import "../../variables";

section {
  padding: 2rem 0rem;
  > h2 {
    margin-bottom: 2rem;
    color: $red-ligh;
    font-weight: 800;
    font-size: 2rem;
  }
  div {
    .modulos-paginas {
      margin: 0 auto;
      width: 50%;
      ul {
        li {
          text-align: center;
          display: inline;
          button {
            font-size: clamp(0.3rem, 0.5rem + 1vw, 1.5rem);
            font-weight: 600;
            margin: 0.5rem 0.5rem;
            padding: 0.5rem 1rem;
          }
        }
      }
    }
  }
  .modulos-lista {
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    width: 85%;
    li {
      box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.2);
      background-color: $ui-lighter;
      padding: 1.5rem 1.5rem;
      border-radius: 3rem;
      margin-top: 1.5rem;
      min-width: 100%;
      div {
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
        display: flex;
        width: 100%;
        .modulo-capa {
          img {
            border-radius: 1.5rem;
            object-fit: cover;
            height: 9rem;
            width: 9rem;
          }
        }
        .modulo-cabecalho {
          letter-spacing: $letter-spacing-mid;
          flex-direction: column;
          padding-left: 0.8rem;
          text-align: left;
          min-width: 35%;
          display: flex;
          .modulo-titulo {
            padding-bottom: 0.2rem;
            font-size: clamp(0.1rem, 0.35rem + 1vw, 2.2rem);
            font-weight: 800;
            padding: 0.4rem;
          }
          .modulo-parceiros {
            font-size: clamp(0.1rem, 0.2rem + 1vw, 2rem);
            letter-spacing: $letter-spacing-min;
            color: $red-ligh;
            font-weight: 400;
            padding: 0.4rem;
            padding-top: 0;
            width: 100%;
          }
        }
        .modulo-matriculados {
          justify-content: left;
          font-size: clamp(0.1rem, 0.2rem + 1vw, 1rem);
          > img {
            width: fit-content;
            margin: 0;
          }
          span {
            padding-left: 0.2rem;
            width: fit-content;
            margin: 0;
          }
        }
        .modulo-duracao {
          justify-content: left;
          font-size: clamp(0.1rem, 0.2rem + 1vw, 1rem);
          > img {
            width: fit-content;
            margin: 0;
          }
          span {
            padding-left: 0.2rem;
            width: fit-content;
            margin: 0;
          }
        }
        .modulo-avaliacao {
          justify-content: left;
          font-size: clamp(0.1rem, 0.2rem + 1vw, 1rem);
          > img {
            width: fit-content;
            margin: 0;
          }
          span {
            padding-left: 0.2rem;
            width: fit-content;
            margin: 0;
          }
        }
        .modulo-verModulo {
          justify-content: center;
          a {
            justify-content: center;
            text-decoration: none;
            color: $ui-lightest;
            &:hover,
            &:focus-visible > button {
              background-color: $ui-lightest;
              border: 3px solid $ui-light;
              color: $ui-darkest;
            }
            button {
              all: unset;
              font-size: clamp(0.1rem, 0.2rem + 1vw, 1.5rem);
              border: 3px solid transparent;
              background-color: $ui-light;
              transition: all 200ms;
              padding: 0.3rem 1rem;
              align-items: center;
              border-radius: 2rem;
              color: $ui-lightest;
              object-fit: contain;
              text-wrap: nowrap;
              font-weight: 800;
              cursor: pointer;
              width: 80%;
            }
          }
        }
      }
    }
  }
}
div {
  a {
    &:hover,
    &:focus-visible > .modulo-verMais {
      background-color: $ui-lightest;
      border: 3px solid $ui-light;
      color: $ui-darkest;
    }
    .modulo-verMais {
      border: 3px solid transparent;
      background-color: $ui-light;
      transition: all 200ms;
      padding: 0.4rem 2.5rem;
      color: $ui-lightest;
      border-radius: 3rem;
      width: fit-content;
      font-size: 1.2rem;
      text-wrap: nowrap;
      margin-top: 1rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
