*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 0;
  padding: 0;
  border: 0;
}

#root {
  font-family: "Nunito Sans", sans-serif;
  min-height: 100dvh;
  text-align: center;
  max-width: 1920px;
  width: 100%;
  padding: 0;
  border: 0;
}
