* {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#root {
  font-family: Raleway, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  padding: 0;
  border: 0;
  text-align: center;
}
