@import "../../variables";

.parceirosS-section {
  .parceirosS-titulo {
    padding: 2rem 0rem;
    padding-top: 0rem;
    font-size: 2rem;
  }
  .parceirosS-row {
    -webkit-box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: $ui-lighter;
    border-radius: 1rem;
    flex-direction: row;
    display: flex;
    width: 80%;
    .parceirosS-container {
      flex-direction: column;
      padding: 1rem 1rem;
      display: flex;
      .parceirosS-head {
        margin-bottom: 0.5rem;
        width: fit-content;
        font-size: 1.35rem;
        font-weight: 600;
      }
      .parceirosS-texto {
        max-width: 16rem;
        font-size: 1rem;
        color: $ui-dark;
        width: 90%;
      }
    }
  }
}
